[
  {rabbitmq_auth_backend_oauth2, [{key_config,
         [{signing_keys,
              #{<<"token-key">> =>
                    {map,
                        #{<<"alg">> => <<"HS256">>,
                          <<"k">> => <<"abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGH">>,
                          <<"kid">> => <<"token-key">>,
                          <<"kty">> => <<"oct">>,
                          <<"use">> => <<"sig">>,
                          <<"value">> => <<"token-key">>}}}}]},
     {resource_server_id,<<"rabbitmq">>}]}
].